#employee-table {
    display: flex;
    align-items: center;
}

#employee-table tbody {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.employee-card {
    background-color: var(--white-3);

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
    border-radius: 0.25rem;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
}

.employee-card.birthday {
    background-color: var(--yellow);
    border-radius: 0.25rem 0.25rem 0 0;
    border-bottom: 4px solid var(--red);
}

.employee-card.birthday:hover {
    cursor: pointer;
    background-color: var(--yellow-hover);
}

.employee-card td {
    color: var(--black-2);
    font-weight: 400;
}

.employee-card.birthday td {
    color: var(--black-1);
    font-weight: 700;
}

@media(min-width: 768px) {
    #employee-table tbody {
        align-items: center;
    }

    .employee-card {
        width: 75%;
    }
}

@media(min-width: 1024px) {
    .employee-card {
        width: 50%;
    }
}